/* ____МЕНЮ____- */
/*____всё содержимое шапки вытянется в строчку___*/
.header {
    display: flex;
    
 }
 
 .header .menu ul {
    display: flex;
 }


/* ____добавляем стили____ */
 *{
    margin: 0;
  }
  
  body {
    background-color: #fff;
  }
  
  .header {
    display: flex;
    flex-wrap: wrap; /*перенос строки */
    justify-content: space-between; /*прижимает содержимое к краям */
    align-items: center; /*выравнивает элементы по центру на вертикальной */
    padding: 0 30px;
}
  
  .header .logo {
    padding-left: 30px;
    padding-bottom: 20px;
  }
  
  .header .menu ul {
    display: flex;
    list-style: none;
  }
  
  .header .menu ul li {
    margin: 20px 10px;
  }
  
  .header .menu ul a {
    text-decoration: none;
    color: #dbd6d6;
    list-style-type: none;
    font-family: "ProximaNova-Semibold", sans serif;
    line-height: 1.5;
  }
 
.baner_img_1 {
    background: url(img/baner_img.png) no-repeat center top;
    height: 620px;
    width: 100%;
    margin-top: 0px;
    min-height: 700px;
    text-align: center;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.baner_text_1 {
    color: #ffffff;
    margin-top: 200px;
    line-height: 1.5;
}

.baner_text_big_1 {
    font-size: 50px;
    text-transform: uppercase; /* Заглавные буквы */
}

a.bot1 {
    background: #ffffff36;
    border-style: solid;
    border-width: 2px;
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 20px;
    width: 160px;
    margin: 20px auto;
    padding: 4px 12px;
}

/*_____"ПРЕЙМУЩЕСТВА ФЛЕШКИ"_____*/
.advantages {
    padding: 50px 80px;
}
.advantages .block{
    display: flex;
}

.advantages_big {
    font-size: 30px;
    text-align: center;
}
.advantages .block_1{
    padding: 30px 10px 30px 10px;
    text-align: center;
    box-shadow: 0 0 5px rgba(122,122,122,0.5); /* Параметры тени */
    margin-right: 10px;
    margin-top: 20px;
}

.advantages .block_1_text {
    color: gray;
    line-height: 1.5;  
}
.advantages .block_1_head {
    padding-top: 30px;
}
.advantages .block_1_head1 {
    padding-top: 20px;
}


/* ___"FLASH-НАКОПИТЕЛЬ Y-TECH В РАБОТЕ"___ */
.baner_img_2 {
    background: url(img/box_for_header_2.png) no-repeat center top;
    height: 400px;
    width: 100%;
    margin-top: 0px;
    text-align: center;
}
.baner_text_2 {
    color: #ffffff;
    line-height: 1.5;
    font-size: 15px;
    padding-top: 100px;
}
.baner_text_big_2 {
    font-size: 30px;
    text-transform: uppercase; /* Заглавные буквы */
}

/* ___"FLASH-НАКОПИТЕЛЬ Y-TECH купить"___ */

.buy_foto {
    width: 40%;
}
.buy_text{
    padding-left: 40px;
    font-size: 15px;
    width: 60%;
}
.buy {
    display: flex;
    padding: 30px 80px;
}
.baner_text_big_3{
    font-size: 30px;
}

.form-inline {
    margin-bottom: 20px; 
}


/*Кнопка "Купить сейчас" */
a.bot2 {
    background: red;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    width: 160px;
    margin: 20px auto;
    padding: 10px 15px;
}


/*____Акция!____*/

.baner_img_4 {
    background: url(img/Clip@2x.png) no-repeat center top;
    height: 400px;
    width: 100%;
    margin-top: 0px;
    text-align: center;
}
.baner_text_4 {
    color: #ffffff;
    line-height: 1.5;
    font-size: 15px;
    padding-top: 60px;
    font-size: 30px;
}

/*  Кнопка "Получить скидку */
.btn-success {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 17px;
    border-color: white;
    border-radius: 0px;
}

/*  форма email */
.form-group .form-control {
    background: rgba(255, 255, 255, 0);
    border-radius: 0px;
}

.form-inline {
    justify-content:center;
}

/*____"Flash-накопитель Y-TECH 3 в 1" его картинка и описание___ */
.baner_text_big_5 {
    font-size: 30px;
    margin-top: 125px;
}
.flash_drive {
    margin-top: 50px;
    display: flex;
}
.flash_drive_img {
    background: url(img/Layer.png) no-repeat center top;
    width: 100%;
    text-align: center;
}
.flash_drive_text_1 {
    text-align: right;
    font-size: 15px;
    margin-left: 20px;
}
.flash_drive_text_2 {
    text-align: left;
    font-size: 15px;
    margin-right: 20px;
}

/*____Отзывы__ */
.block_reviews {
    display: flex;
    padding: 20px 70px;
}

.block_2{
    padding: 30px 10px 30px 10px;
    box-shadow: 0 0 5px rgba(122,122,122,0.5); /* Параметры тени */
    margin-right: 10px;
    margin-top: 20px;
    text-align: left; 
}

.block_2_text {
    line-height: 1.5; 
    text-align: left; 
    font-size: 15px;
}



/*____Как заказать__ */

.numeral {
    display: flex;
    justify-content:center;
    margin: 50px 80px;
    text-align: left; 
}
.step {
    width: 50%;
    display: flex;
}
.step_text {
    padding: 0px 10px;
}
.booking {
    background: rgb(204, 203, 203);
}
.booking_img {
    background: url(img/anim.png) no-repeat center top;
    
    height: 20px;
    text-align: center;
}


/*____Почему нам доверяют__ */
.block_reviews_2 {
    display: flex;
    padding: 20px 70px;
}

.block_3{
    padding: 30px 10px 30px 10px;
    box-shadow: 0 0 5px rgba(122,122,122,0.5); /* Параметры тени */
    margin-right: 10px;
    margin-top: 20px;
    text-align: center; 
}

.block_3_text {
    line-height: 1.5; 
    text-align: left; 
    font-size: 15px;
}


/*____Контакты__ */
.contacts_img {
    background: url(img/carta2.png) no-repeat center top;
    height: 310px;
    width: 100%;
    margin-top: 0px;
}
.contacts_block {
    color: #000000;
    line-height: 2;
    font-size: 16px;
    text-align: left; 
    background: rgba(255, 253, 253, 0.514);
    width: 30%;
    margin-left: 20%;
    padding: 20px;
    margin-top: 50px;
}  

/*____Конец сайта__ */
.footer {
    background: black;
    height: 110px;
    display: flex;
    
}

.footer_img_logo {
    margin-left: 15%;
    margin-top: 30px;
    text-align: left;
}
.footer_img {
    text-align: right;
    margin-left: 50%;
    margin-top: 40px;
}